<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
<HEAD>
<TITLE></TITLE>
<script language="Javascript">
function go() {
window.opener.focus();
var url = "https://na1.salesforce.com/merge/conmergewizard.jsp?retURL=%2F{!Account_ID}&id={!Account_ID}&srch={!Contact_FullName}";
window.opener.location.href = url;
self.close();
}
go();
</script>
</HEAD>
<BODY BGCOLOR="#FFFFFF" TEXT="#000000"><p align="center">Please wait...</p></BODY>
</HTML>