<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"> 
<HTML> 
<HEAD> 
<TITLE></TITLE> 
<script language="Javascript"> 
function go() { 
window.opener.focus(); 
var url = "/00O300000014pqd?" 
+ "pv0=%22"+escape("{!Account.Id}")+"%22&pc0=ACCOUNT_ID&pn0=eq&"; 
+ "bool_filter=" + escape("1 OR 2"); 
window.opener.location.href = url; 
self.close(); 
} 
go(); 

</script> 
</HEAD> 
<BODY BGCOLOR="#FFFFFF" TEXT="#000000"><p align="center">Please wait...</p></BODY> 
</HTML>